/*
Propriedade: align-self = permite utilizar os mesmos valores ( flex-start , flex-end , stretch , baseline , center ) porém somente para um item.

Atenção: balise faz a mesma função flex-start ? 

Propriedade: order = permite ordenar itens de um determinado container - quando utilizada, fará com que o flexbox os exiba em ordem crescente.

Por padrão, a propriedade order , implicitamente, possui o valor 0 , isso significa que, se apenas um item dentre 5 em um container recebe a propriedade order: 1 , todos os outros ficarão ordenados da forma que foram construídos no HTML, enquanto este será posicionado após os demais. Caso o item diferentão receba order: -1 , ele será exibido antes dos demais.

ex.: .flex-container > .box:nth-child(1){
    order:1
}

Propriedades: flex-grow, flex-shrink, flex-basis - acima devem ser expostas em conjunto.

flex-basis tem a função de definir o tamanho base de um item no container.O valor padrão dessa propriedade é auto - mantendo a flexibilidade do item de acordo com o tamanho do container.

a propriedade flex-shrink surge para garantir o quanto um item será comprimido em comparação aos demais (encolhe)

Por fim, flex-grow define o quanto de espaço vago será ocupado por um item (expande.

.flex-container div: nth-child(1){
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
     ou posso usar
    flex: 0 1 auto;
     ou posso usar
    flex: 0 auto; 
    



