.super-mario {
    width: 150px;
    position: absolute;
    z-index: 1;
    left: 10%;
  }
  
  .goomba {
    width: 80px;
    position: absolute;
    z-index: 2;
    top: 43%;
    left: 18%;
  }
  
  .baloon {
     width: 135px;
     position: absolute;
     left: 35%;
     z-index:1;
  
    
  
  }
  
  .speach {
    font-size: 12px;
    position: absolute;
    left: 36%;
    top: 15%;
    z-index:2;
    
  }
  
  .bowser {
    width: 200px;
    left: 50%;
    position: absolute;
    left: 55%;

  }

